html {
  background-image: url(img/kungfupandabackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b9d4ef;
}

h1,
h2 {
  font-family: papyrus;
}
input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}
body {
  background-color: rgba(225, 225, 225, 0.7);
  width: 600px;
  margin: 25px auto;
  text-align: center;
  border-radius: 25px;
  padding: 50px 0 0;
}
button {
  background-color: rgb(72, 116, 63);
  color: white;
  padding: 5px 20px;
  font-size: 18px;
  font-variant: small-caps;
  border-radius: 5px;
}
button:hover {
  background-color: rgb(97, 155, 85);
}
h1 {
  margin: 40px o;
}
.img-p {
  padding: 50px 0 75px;
}
div {
  background-color: rgba(72, 116, 63, 0.7);
  color: white;
  padding: 20px 0px;
  border-radius: 0 0 25px 25px;
}
.links {
  text-align: center;
}
a {
  background-color: rgba(72, 116, 63, 0.5);
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  color: white;
  text-decoration: none;
}
a:hover {
  background-color: rgba(72, 116, 63, 1);
}
